$blue-navy: #0077b5;
$blue-navy-light: #00a0dc;
$black: #000000;
$black-light: #313335;
$gray: #666666;
$gray-light: #caccce;
$gray-lighter: #eef3f8;
$gray-dark: #f3f2ef;
$gray-background: #f3f2ef;

$font-size-xxs: 12px;
$font-size-xs: 13px;
$font-size-s: 14px;
$font-size-normal: 16px;
$font-size-m: 17px;
$font-size-l: 20px;
$font-size-xl: 21px;
$font-size-xxl: 114px;

$font-weight-svg: 0.5;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$border-radius: 10px;
$border-radius-content-dropdown: 10px;
$border-radius-nav: 50%;
$border-radius-post-btn: 35px;
